<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="search_text" (ionInput)="filter($event)">
      Search phone
    </ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item color="light">
            <ion-label class="center" color="dark">Years</ion-label>
            <ion-select (ionChange)="filter($event)" [(ngModel)]="years_option" multiple="true" placeholder=" " interface="popover" selectedText=" ">
              <ion-option *ngFor="let year of years" [value]="year">{{year}}</ion-option>
            </ion-select>
          </ion-item>
          <p class="center-small">{{filter_years}}</p>
        </ion-col>
        <ion-col col-6>
          <ion-item color="light">
            <ion-label class="center" color="dark">Brands</ion-label>
            <ion-select (ionChange)="filter($event)" [(ngModel)]="brands_option" multiple="true" placeholder=" " interface="popover"
              selectedText=" ">
              <ion-option *ngFor="let brand of brands" [value]="brand">{{brand}}</ion-option>
            </ion-select>
          </ion-item>
          <p class="center-small">{{filter_brands}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <two-column-list [phones]="phones"></two-column-list>
</ion-content>