<!-- Generated template for the TwoColumnListComponent component -->
<ion-grid>
  <ion-row>
    <ion-col col-6>
      <ion-list *ngFor="let phone of l_phones" >
        <ion-card>
          <ion-card-header>
            {{phone.name}}
          </ion-card-header>
          <ion-card-content class="justify">
            <p>{{phone.description | turncate: 4}}</p>
          </ion-card-content>
          <small>{{phone.brand}}</small>
          <br/>
          <small>Released {{phone.release_year}}</small>
        </ion-card>
      </ion-list>
    </ion-col>
    <ion-col col-6>
      <ion-list *ngFor="let phone of r_phones" >
        <ion-card>
          <ion-card-header>
            {{phone.name}}
          </ion-card-header>
          <ion-card-content class="justify">
            <p>{{phone.description | turncate: 4}}</p>
          </ion-card-content>
          <small>{{phone.brand}}</small>
          <br/>
          <small>Released {{phone.release_year}}</small>
        </ion-card>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>